/*
*Commissionner
*/
/*
**Bold
*/
    @font-face {
        font-family: 'commissionerbold';
        src: url('../fonts/commissioner-bold-webfont.woff2') format('woff2'),
            url('../fonts/commissioner-bold-webfont.woff') format('woff'),
            url('../fonts/commissioner-bold-webfont.ttf') format('truetype'),
            url('../fonts/commissioner-bold-webfont.svg#commissionerbold') format('svg');
        font-weight: 700;
        font-style: normal;
    }
/*
**Medium
*/
    @font-face {
        font-family: 'commissionermedium';
        src: url('../fonts/commissioner-medium-webfont.woff2') format('woff2'),
            url('../fonts/commissioner-medium-webfont.woff') format('woff'),
            url('../fonts/commissioner-medium-webfont.ttf') format('truetype'),
            url('../fonts/commissioner-medium-webfont.svg#commissionermedium') format('svg');
        font-weight: 500;
        font-style: normal;
    }
/*
**Regular
*/
    @font-face {
        font-family: 'commissionerregular';
        src: url('../fonts/commissioner-regular-webfont.woff2') format('woff2'),
            url('../fonts/commissioner-regular-webfont.woff') format('woff'),
            url('../fonts/commissioner-regular-webfont.ttf') format('truetype'),
            url('../fonts/commissioner-regular-webfont.svg#commissionerregular') format('svg');
        font-weight: 400;
        font-style: normal;
    }