/*
*Fonts
*/

$commissionerregular: 'commissionerregular';
$commissionermedium: 'commissionermedium';
$commissionerbold: 'commissionerbold';

/*
*Colors
*/
    /*
    **Primary
    */
    $Keppel: #3CB4AC;
    $Genoa: #147B74;
    /*
    **Neutral
    */
    $Black: #000000;
    $Boulder: #7A7A7A;
    $White: #FFFFFF;
    $Alabaster: #FAFAFA;
    $WildSand:  #F4F4F4;