.bg-header {
    background: url('../src/images/image-hero-mobile.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;


    @media screen and(min-width: 992px) {
        background: url('../src/images/image-hero-desktop.jpg') no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
    }

    .container {
        margin-top: 1rem;

        @media screen and(min-width: 992px) {
            margin-top: 1.75rem;
        }
    }
}