.container {

    &__presentation, &__prices, &__about, &__reward {
        padding-top: 1.6875rem!important;
        padding-bottom: 1.125rem!important;
        background-color: $White;
        border-radius: 10px;
        margin-bottom: 1.833333rem;
    }

    &__reward {
        padding-left: .9375rem;
        padding-right: .9375rem;
        border: 1px solid $Boulder;

        &--opacity {
            opacity: .35;
        }
    }
        
}