.img {

    &__mastercraft {
        height: 2.6875rem;
        width: auto;
        position: absolute;
        top: calc(0% - 1.34375rem);
    }

    &__bookmark {
        height:2.6875rem;
        width:auto;
        z-index:10;

        &--success {
            display: none;

            @media screen and(min-width: 992px) {
                position: absolute;
                right: calc(0% + 7rem );
            }
        }

        @media screen and(min-width: 992px) {
            position: absolute;
            right: calc(0% + 7rem );
        }
    }

    &__check {
        padding-bottom: 1.625rem;
    }
}